services:
  # influxdb:
  #   image: influxdb:3-enterprise
  #   container_name: influxdb
  #   ports:
  #     - "8086:8086"
  #   volumes:
  #     - ~/influxdb_data:/var/lib/influxdb3
  #   environment:
  #     - DOCKER_INFLUXDB_INIT_MODE=setup
  #     - DOCKER_INFLUXDB_INIT_USERNAME=admin
  #     - DOCKER_INFLUXDB_INIT_PASSWORD=Passw0rd
  #     - DOCKER_INFLUXDB_INIT_ORG=treeleaf
  #     - DOCKER_INFLUXDB_INIT_BUCKET=ibtrading
  #     - INFLUXDB3_ENTERPRISE_LICENSE_EMAIL=asokpant@gmail.com
  #   command: >
  #     influxdb3 serve
  #     --object-store file
  #     --data-dir /var/lib/influxdb3
  #     --cluster-id cluster
  #     --node-id  node1
  influxdb:
    image: influxdb:3-core
    container_name: influxdb
    ports:
      - "8181:8181"
    volumes:
      - ~/influxdb_data:/var/lib/influxdb3
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=Passw0rd
      - DOCKER_INFLUXDB_INIT_ORG=treeleaf
      - DOCKER_INFLUXDB_INIT_BUCKET=ibtrading
      - INFLUXDB3_ENTERPRISE_LICENSE_EMAIL=asokpant@gmail.com
    command: >
      influxdb3 serve
      --object-store file
      --data-dir /var/lib/influxdb3
      --node-id node1

  influxui:
    image: influxdata/influxdb3-ui:1.0.0
    container_name: influxui
    ports:
      - "8787:80"
    command: --mode=admin # --mode=admin for admin UI, --mode=query for query UI 
    environment:
      - DEFAULT_INFLUX_SERVER=http://host.docker.internal:8181
      - DEFAULT_API_TOKEN=apiv3_NrpFQWiy9rufU9PnDrZiDxIEe1XtAN1q-zXWtT9vawRrthSGfgXWmbvJCes1POWgitHTEU2kGineZL1u81F9gA
      - DEFAULT_SERVER_NAME=local
    volumes:
      - ~/influxdb_data/uidata/db/:/db
      - ~/influxdb_data/uidata/config/:/app-root/config
      - ~/influxdb_data/uidata/ssl/:/etc/nginx/ssl
    depends_on:
      - influxdb
  # chronograf:
  #   image: chronograf:latest
  #   container_name: chronograf
  #   ports:
  #     - "8888:8888"
  #   links:
  #     - influxdb
  #   environment:
  #     - INFLUXDB_URL=http://influxdb:8086
  
  # grafana:
  #   #image: grafana/grafana:latest
  #   image: grafana/grafana-enterprise
  #   container_name: grafana
  #   restart: always
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ~grafana_data:/var/lib/grafana
  #   environment:
  #     - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource

  # telegraf:
  #   image: telegraf:latest
  #   container_name: telegraf
  #   links:
  #     - influxdb
  #   volumes:
  #     - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro

  
