services:

  sql-server-db:
    container_name: sql-server-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    volumes:
      - ~/mssqldata:/var/opt/mssql
    environment:
      SA_PASSWORD: "Admin@123"
      ACCEPT_EULA: "Y"
    restart: unless-stopped
