services:

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - 6379:6379
    # command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data

  # redis-commander:
  #   container_name: redis-commander
  #   image: rediscommander/redis-commander:latest
  #   environment:
  #     - REDIS_HOSTS=local:redis:6379
  #     - HTTP_USER=admin
  #     - HTTP_PASSWORD=admin
  #   ports:
  #     - 8081:8081
  #   depends_on:
  #     - redis
  redisinsight:
    container_name: redisinsight
    image: redis/redisinsight:latest
    ports:
      - 5540:5540
    depends_on:
      - redis
    
volumes:
  redis-data:
