services:
  timescaledb:
    image: timescale/timescaledb-ha:pg17
    container_name: timescaledb
    ports:
      - 6543:5432
    environment:
      - POSTGRES_PASSWORD=Passw0rd
    volumes:
      - ~/timescale_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - 8484:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=asokpant@gmail.com
      - PGADMIN_DEFAULT_USER=admin
      - PGADMIN_DEFAULT_PASSWORD=admin

      - POSTGRES_HOST=timescaledb
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Passw0rd
